{% extends 'users/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'resource/css/main.css' %}" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script>
  var currentIndex = 0; // Index of currently selected patient

  function startProcess() {
    console.log("Start button clicked.");
    // Reset index and clear selected data container
    currentIndex = 0;
    document.getElementById("selected-data").innerHTML = "";
    selectNextPatient();
  }

  function selectNextPatient() {
    console.log("Selecting next patient.");
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    if (currentIndex < checkboxes.length) {
      var checkbox = checkboxes[currentIndex];
      checkbox.checked = true; // Automatically check the checkbox
      displaySelectedData(checkbox); // Display selected data
      generatePDF(); // Generate PDF
      currentIndex++; // Move to the next patient
    } else {
      // All patients processed, display a message or perform any other action
      console.log("All patients processed.");
    }
  }

  function generatePDF() {
    var selectedDataContainer = document.getElementById("selected-data");

    // Apply inline CSS styles to the table
    var tableStyle = `
        <style>
          body {
            background-color: white;
          }

          #selected-data {
            background-color: white;
          }

          table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed; /* Added to ensure equal cell sizes */
          }
  
          td {
            border: 2px solid black;
            height: 35px;
            padding: 2px;
            font-size: 18px;
            width: auto; /* Adjust this value as needed */
            text-align: center;
          }
          
          tr {
            height: 50px;
          }

          #main-container {
            margin: 15px;
            background-color: white;
          }

          #patient-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; /* Adjust width as needed */
          }
        </style>
    `;

    // Apply styles to the inner HTML of the selected data container
    selectedDataContainer.innerHTML =
      tableStyle + selectedDataContainer.innerHTML;

    html2canvas(selectedDataContainer, {
        scale: 2, // Increase the scale for higher resolution
        useCORS: true, // Use CORS to handle cross-origin images
        allowTaint: true, // Allow tainted canvas if needed
        logging: true,  // Enable logging for debugging
    }).then(function (canvas) {
        // Convert the canvas to PDF
        var pdf = new jsPDF("p", "mm", "a4");
        var imgData = canvas.toDataURL("image/png", 1.0); // Use PNG format at full quality
        var imgWidth = 210; // A4 size: 210 x 297 mm
        var imgHeight = (canvas.height * imgWidth) / canvas.width;

        // Add the image to the PDF with high resolution
        pdf.addImage(imgData, "PNG", 0, 0, imgWidth, imgHeight, undefined, 'FAST');

        // Get the patient ID and patient name
        var patientId = document
          .querySelector("#patient-id")
          .innerText.trim()
          .replace(/^Patient ID: /, "");
        var patientName = document
          .querySelector("#patient-name")
          .innerText.trim()
          .replace(/^Patient Name: /, "");

        // Construct the file name
        var fileName = patientId + "_" + patientName + ".pdf";

        // Save the PDF with the constructed file name
        pdf.save(fileName);

        // Delay selection of next patient after PDF generation is complete
        setTimeout(selectNextPatient, 1000); // Change the delay time as needed
    });
}


function displaySelectedData(checkbox) {
    var row = checkbox.parentElement.getElementsByTagName("label");
    var imageUrl = checkbox.getAttribute('data-image-url');
    var selectedDataContainer = document.getElementById("selected-data");
    selectedDataContainer.innerHTML = ""; // Clear previous data

    // Process observations text to split by period and add line breaks
    var observations = row[7].innerText;
    var observationsArray = observations.split('.').filter(line => line.trim() !== '');

    // Create columns for alternating text display
    var leftColumnContent = '';
    var rightColumnContent = '';

    observationsArray.forEach((line, index) => {
    // Format the line with a period at the beginning
    var formattedLine = `. ${line.trim()}.`;

    // Add to the appropriate column based on index
    if (index % 2 === 0) {
        leftColumnContent += `<p>${formattedLine}</p>`;
    } else {
        rightColumnContent += `<p>${formattedLine}</p>`;
    }
    });

    // Processing the impressions data.
    var impression = row[6].innerText;
    var impressionArray = impression.split('.').filter(line => line.trim() !== '');

    // Creating columns for displaying the impression data in separated columns.
    var leftColumnImpressionContent = '';
    var rightColumnImpressionContent = '';

    impressionArray.forEach((line, index) => {
      // Adding the appropriate column based on the index.
      if (index % 2 === 0) {
          leftColumnImpressionContent += `<p>. ${line.trim()}.</p>`;
      } else {
          rightColumnImpressionContent += `<p>. ${line.trim()}.</p>`
      }
      });

    selectedDataContainer.innerHTML += `
        <div id="main-container">
            <br><br><br>
            <table>
                <tr>
                    <td id="patient-id">
                        Name: ${row[0].innerText}
                    </td>
                    <td id="patient-name">    
                        Patient ID: ${row[1].innerText}
                    </td>
                    <td>
                        Age: ${row[2].innerText}
                    </td>
                </tr>
                <tr>
                    <td>    
                        Gender: ${row[3].innerText}
                    </td>
                    <td>    
                        Test Date: ${row[4].innerText}
                    </td>
                    <td>    
                        Report Date: ${row[5].innerText}
                    </td>
                </tr>
            </table>
            <br>
            <h5 class="text-decoration-underline">X-RAY - CHEST PA VIEW</h5>
            <h5 class="text-decoration-underline">OBSERVATIONS:</h5>
            <div class="observations-formatted-text-container">
                <div class="left-column">
                    ${leftColumnContent}
                </div>
                <div class="right-column">
                    ${rightColumnContent}
                </div>
            </div>
            <h5 class="text-decoration-underline">IMPRESSION:</h5>
            <div class="impressions-formatted-text-container">
                <div class="left-column">
                    ${leftColumnImpressionContent}
                </div>
                <div class="right-column">
                    ${rightColumnImpressionContent}
                </div>
            </div>
            <div class="image-container">
                <img src="static/image/sandeep.jpg" alt="Dr. Sandeep" class="scaled-image left-image">
            </div>
            <div class="image-container2">
                ${imageUrl !== 'None' ? `<img src="${imageUrl}" alt="Patient Xray Image" class="scaled-image2 patient-image">` : '<span>No image available</span>'}
            </div>
            <p class="footer-text">Powered by www.u4rad.com</p>
        </div>
    `;
}



//   function calculateBMI(height, weight) {
//     // Convert height from cm to meters
//     var heightMeters = height / 100;

//     // Calculate BMI
//     var bmi = (weight / (heightMeters * heightMeters)).toFixed(2);

//     return bmi;
//   }
</script>

<script>
  function dismissError() {
    // Remove the error overlay from the DOM
    document.querySelector('.error-overlay').remove();
  }
</script>

<style>
  #patient-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust width as needed */
  }
  #selected-data {
    padding: 10px;
    width: 210mm;
    /* A4 width in millimeters */
    height: 297mm;
    /* A4 height in millimeters */
    position: fixed;
    top: 60px;
    right: 0;
    margin: 20px;
    /* Adjust margin as needed */
    background-color: white;
    /* Background color of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  /* Styles for the patient details table */
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .form-control {
    max-width: 300px;
  }

  #sign {
    height: 100px;
    width: 150px;
    
  }

  #heading {
    text-align: center;
  }

  #tools {
    padding: 10px;
    width: 750px;
    /* A4 width in millimeters */
    height: auto;
    margin: 10px;
  }

  #logoutContainer {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
  }

  #routeContainer {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 105px;
    /* Adjust the right position as needed */
  }

  #route2Container {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 225px;
    /*  Adjust the right position as needed */
  }

  #route3Container {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 305px;
    /*  Adjust the right position as needed */
  }

  #route4Container {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 365px;
    /*  Adjust the right position as needed */
  }

  #rowCount {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    left: 50%;
    color: white;
    font-weight: bold;
    /* Adjust the right position as needed */
  }

  .hidden {
    color: white;
  }

  label {
    width: 100px;
  }

  .label1 {
    width: 300px;
  }

  #Layout {
    position: absolute;
    top: 70px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the right position as needed */
  }
  .error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .error-card {
    width: 700px; /* adjust width as needed */
    height: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* shadow effect */
    z-index: 999;
  }

  .card-header {
    padding: 10px;
    background-color: #f8f9fa; /* light gray */
    border-bottom: 1px solid #dee2e6; /* border color */
  }

  .card-footer {
    background-color: #f8f9fa; /* light gray */
    border-bottom: 1px solid #dee2e6; /* border color */
  }

  .card-body {
    padding: 10px;
    width: 700px;
    height: 500px;
    overflow-y: auto;
    background-color: #f8f9fa; /* light gray */
    border-bottom: 1px solid #dee2e6; /* border color */
  }

  .card-title {
    margin-bottom: 0;
  }

.image-container,
.image-container2 {
    display: flex;
    box-sizing: border-box;
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}

.image-container {
    /* Adjust margins or padding as needed to shift up */
    margin-bottom: 10px; /* Example adjustment */
}

.image-container2 {
    margin-top: 10px; /* Example adjustment */
    margin-bottom: 20px; /* Example adjustment */
}

.scaled-image {
    max-width: 30%; /* Adjust width as needed */
    max-height: 30%; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

.scaled-image2 {
    max-width: 50%; /* Adjust width as needed */
    max-height: 50%; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
}

.left-image {
    margin-left: 0; /* Remove or adjust margin */
}

.right-image {
    margin-left: 10px; /* Adjust spacing between images */
}

.observations-formatted-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.impressions-formatted-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.left-column, .right-column {
    width: 48%;
}

.left-column p, .right-column p {
    margin: 5px 0;
}

.footer-text {
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-style: italic;
    color: gray;
    text-align: right;
}

</style>

<div id="Layout">
  <div class="row" id="tools">
    <div class="col-lg-8">
      <form class="row" method="POST" enctype="multipart/form-data" action="{% url 'uploadcsvforxray' %}">
        {% csrf_token %}
        <input class="form-control col-lg-10" type="file" name="csv_file" accept=".csv" />
        <button class="btn btn-success col-lg-4" type="submit">Upload CSV</button>
      </form>
    </div>
    <button class="btn btn-success col-lg-2" onclick="startProcess()">
      Start
    </button>
    <form class="col-lg-2" method="post" action="{% url 'delete_all_patients_for_xray' %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>

  </div>
  <!-- Start button -->
  
  <form method="POST" id="tools" enctype="multipart/form-data"  action="{% url 'add_patient_for_xray' %}">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-lg-4">
        <input class="form-control" type="text" name="PatientName" placeholder="Patient Name" required>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="PatientId" placeholder="Patient ID" required>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="age" placeholder="Age" required>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <input class="form-control" type="text" name="gender" placeholder="Gender" required>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="Test Date" placeholder="Test Date" required>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="Report Date" placeholder="Report Date" required>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-3">
        <input class="form-control" type="text" name="Findings" placeholder="Findings" required>
      </div>
      <div class="col-lg-3">
        <input class="form-control" type="text" name="Impression" placeholder="Impression" required>
      </div>
      <br>
      <br>
      <div class="col-lg-10 row" style="margin-left: 0px;">
        <input class="form-control col-lg-10" type="file" name="xray_image" placeholder="Xray Image" required/>
        <button class="btn btn-success col-lg-4" >Upload Xray Image</button>
      </div>
    </div>
    <div class="row">
      <!-- Add input fields for other patient attributes as needed -->
      <button id="add_patient_for_xray" class="btn btn-success col-lg-12" type="submit">Add Patient</button>
    </div>
  </form>
  <h5 id="center">XRAY Patient Details</h5>
  <form>
    <ul>
      {% for patient in patients %}
      <li>
        <input type="checkbox" onchange="displaySelectedData(this)" data-image-url="{% if patient.jpeg_file %}{{ patient.jpeg_file.url }}{% else %}None{% endif %}" />
        <label class="label1">{{ patient.PatientName }}</label>
        <label>{{ patient.PatientId }}</label>
        <label>{{ patient.age }}</label>
        <label>{{ patient.gender }}</label>
        <label>{{ patient.testdate }}</label>
        <label>{{ patient.reportdate }}</label>
        <label>{{patient.impressions }}</label>
        <label>{{ patient.findings }}</label>
        <!-- I need to add the image here at the respective place. -->
         <!-- Conditionally display the image if it's present -->
        {% if patient.jpeg_file %}
        <img src="{{ patient.jpeg_file.url }}" alt="X-ray Image" style="max-width: 100px; max-height: 100px;">
        {% else %}
        <span>No image available</span>
        {% endif %}
        
      </li>
      {% endfor %}
    </ul>
  </form>
</div>
<div id="logoutContainer">
  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
<div id="routeContainer">
  <a href="{% url 'optometrylist' %}" class="btn btn-warning">OPTOMETRY</a>
</div>
<div id="route2Container">
    <a href="{% url 'vitalslist' %}" class="btn btn-warning">VITALS</a>
</div>
<div id="route3Container">
  <a href="{% url 'ecglist' %}" class="btn btn-warning">ECG</a>
</div>
<div id="route4Container">
  <a href="{% url 'vaccinationlist' %}" class="btn btn-warning">VACCINATION</a>
</div>


{% if messages %}
<div class="error-overlay">
  <div class="error-card">
    <div class="card-header center">
      <h5 class="card-title text-center">Notification</h5>
    </div>
    <div class="card-body">
      <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer text-center">
      <button onclick="dismissError()" class="btn btn-primary center">OK</button>
    </div>
  </div>
</div>
{% endif %}

<div id="rowCount">
  <p>Total number of Patients: {{ patients|length }}</p>
</div>
<div id="selected-data">
  <!-- Selected data will be displayed here -->
</div>
{% endblock %}