@import url("bootstrap/dist/css/bootstrap.min.css");

.document-editor {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);

  /* Set vertical boundaries for the document editor. */
  height: 94.15vh;


  /* This element is a flex container for easier rendering. */
  display: flex;
  flex-flow: column nowrap;
}

.document-editor__toolbar {
  /* Make sure the toolbar container is always above the editable. */
  z-index: 1;

  /* Create the illusion of the toolbar floating over the editable. */
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);

  /* Use the CKEditor CSS variables to keep the UI consistent. */
  border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
/* .document-editor__toolbar .ck-toolbar {
  border: 0;
  border-radius: 0;
} */


.page-content {
  display: grid;
  text-align: center;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.viewport-container {
  height: 100%;
  text-align: center;
}

.viewport {
  position: relative;
  width: 90%;
  height: 600px;
  margin: 0.5em auto auto;
}

.button-container{
  margin-top: 0.5em;
}

.tool-button{
  color: black;
  background-color: white;
}

.tool-button:hover{
  color: white;
  background-color: black;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
  padding: calc(2 * var(--ck-spacing-large));
  background: var(--ck-color-base-foreground);
  padding-top: 15px;
  height: 100% !important;
  overflow: auto !important

  /* Make it possible to scroll the "page" of the edited content. */
}

.document-editor__editable-container > div{
  padding: none 1.5cm 0.1cm  !important;
}

.document-editor__editable-container .ck-editor__editable {
  /* Set the dimensions of the "page". */
  min-height: 21cm;

  /* Keep the "page" off the boundaries of the container. */
  padding: 1em;

  border: 1px hsl(0, 0%, 82.7%) solid;
  border-radius: var(--ck-border-radius);
  background: white;

  /* The "page" should cast a slight shadow (3D illusion). */
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);

  /* Center the "page". */
  margin: 0 auto;
}

/* Set the default font for the "page" of the content. */
.document-editor .ck-content,
/* .document-editor .ck-heading-dropdown .ck-list .ck-button__label {
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
} */

/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
  line-height: calc(
    1.7 * var(--ck-line-height-base) * var(--ck-font-size-base)
  );
  min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.document-editor
  .ck-heading-dropdown
  .ck-list
  .ck-button:not(.ck-heading_paragraph)
  .ck-button__label {
  transform: scale(0.8);
  transform-origin: left;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
  font-size: 2.18em;
  font-weight: normal;
}

.document-editor .ck-content h2 {
  line-height: 1.37em;
  padding-top: 0.342em;
  margin-bottom: 0.142em;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
  font-size: 1.75em;
  font-weight: normal;
  color: hsl(203, 100%, 50%);
}

.document-editor
  .ck-heading-dropdown
  .ck-heading_heading2.ck-on
  .ck-button__label {
  color: var(--ck-color-list-button-on-text);
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
  line-height: 1.86em;
  padding-top: 0.171em;
  margin-bottom: 0.357em;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
  font-size: 1.31em;
  font-weight: bold;
}

.document-editor .ck-content h4 {
  line-height: 1.24em;
  padding-top: 0.286em;
  margin-bottom: 0.952em;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p {
  font-size: 1em;
  line-height: 1.63em;
  padding-top: 0.5em;
  margin-bottom: 1.13em;
}

/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
  font-family: Georgia, serif;
  margin-left: calc(2 * var(--ck-spacing-large));
  margin-right: calc(2 * var(--ck-spacing-large));
}


.select-box {
  width: 100%;
  color: blueviolet;
  
}

.MuiPaper-elevation1, .MuiPaper-elevation2 {
  box-shadow: none !important;
}

.document-editor .ck-content p:first-child { 
  font-size: 1em;
  line-height: 12.9pt;
   padding-top: 0.5em; 
   margin-bottom: 1.13em; 
}

.document-editor .ck-content p{
  font-size: 1em;
  line-height: 12.9pt;
  padding-top: 0; 
  margin-bottom: 1.13em;
}

@media (min-width: 576px)  {
.modal-dialog {
    max-width: 700px !important;
  }
}

table, table th, table thead th  {
  font-size: 13px;
  text-align: center !important;
  /* backgrou nd-image: url("logo.png"); */
  background-color: gray;
}

tbody {
  background-color: gray;
}

.ck-content .image>figcaption {
  display: none !important;
}

.ck-content .image {
  width: 100%;
}

.ck-content .image img {
  margin: 0px !important;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 700px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .ck-content, .ck-content * {
    visibility: visible;
  }
  #ck-content {
    position: absolute;
    left: 0;
    top: 0;
  }
  .document-editor__editable-container .ck-editor__editable {
     width: 100%; 
     min-height: 21cm; 
     padding: 1cm 2cm 2cm; 
     border: 1px hsl(0, 0%, 82.7%) solid; 
     border-radius: var(--ck-border-radius); 
     background: white; 
     box-shadow: none;
     margin: none; 
  }
  table{
    table-layout: auto;
  }
}


.MuiGrid-item:nth-child(2) > div {
  margin-bottom: 0!important;
}

.MuiGrid-item:nth-child(2) div.MuiCardContent-root{
  padding-bottom: 0!important;
}

.MuiGrid-item:nth-child(3) div.MuiCardContent-root{
  padding-top: 0!important;
  margin-top: -15px;
}

.err {
  color: red!important;
}

.document-editor__toolbar div .report-here {
  color: rgb(255, 255, 255);
  padding: 8px;
  margin-left: 30px;
  background-color: rgb(226, 72, 72);
  border-radius: 6px;
  font-size: 11px;
}

.document-editor__toolbar div .report-here:hover {
  background-color: rgb(219, 2, 2);
  font-size: 12px;
  cursor: pointer;
}

.document-editor__toolbar div .user-name {
  color:rgba(0, 0, 0, 0.767);
  font-size: 12px;
  padding: 5px;
  text-shadow: darkgray;
  font-style: italic;
  border-left: 2px solid gray;
}

.document-editor__toolbar div .user-name .current-user {
  color: black;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  border-right: 1px solid rgb(174, 173, 173);
  margin-left: 5px;
  padding-right: 25px;
}

.modal {
  width: 100%;
  position: static;
}

.modal-backdrop {
  width: 100%;
  position: static;
}

.modal-dialog {
  margin-top: none;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

table{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

table::before{
  content: element(table);
}

/* Add media query for mobile screens */
@media (max-width: 767px) {
  .page-content {
    display: block;
  }

  .document-editor__editable-container,
  .viewport-container {
    width: 100%;
  }

  .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    font-size: 8px; /* Reduce font size to 14px for smaller screens */
  }

  table, table th, table thead th {
    font-size: 8px; 
  }
}

